:root {
  --main-color:  #00A3B8;
  --text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

nav {
  display: flex;
  flex-direction: row;
}

.logo {
  display: flex;
  flex-direction: row;
}

h1 {
  margin-left: 10px;
  margin-top: 20px;
}

.logo-img {
  width: 50px;
  margin-left: 26px;
  margin-top: 10px;
}

.nav-link {
  display: flex;
  flex-direction: row;
  margin-left: 950px;
  margin-top: 22px;
}

.nav-link a {
  text-decoration: none;
  margin: 22px;
  padding: 10px;
  font-size: 18px;
  color: var(--main-color);
  cursor: pointer;
}

.rocket-c {
  display: flex;
  flex-direction: column;
  margin: 22px;
}

.rocket-list {
  display: flex;
  flex-direction: row;
  margin: 12px;
}

.rocket-img {
  width: 160px;
  margin-right: 20px;
}

.rocket-info {
  display: flex;
  flex-direction: column;
}

.rocket-des {
  font-size: 16px;
  margin: 10px 0;
}

.reserve-btn {
  max-width: 120px;
  background-color: var(--main-color);
  border: none;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  padding: 4px 2px;
  cursor: pointer;
}

.reserved-r {
  color: #fff;
  background-color: var(--main-color);
  border-radius: 10px;
  margin: 0 8px 0 0;
  padding: 3px 8px;
  font-size: 12px;
}

.cancel-btn {
  max-width: 120px;
  background-color:  #e0e0e0;
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  color: #918e8e;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  padding: 4px 2px;
  cursor: pointer;
}

.my-rockets {
  margin: 10px;
}

h2{
  margin: 10px;
}

.rocket-profile {
  display: flex;
  flex-direction: column;
  max-width: 40vw;
  border: 1px solid #918e8e;
}

.rocket-name {
  margin: 0;
  padding: 12px;
  font-size: 20px;
  border-bottom: 1px solid #918e8e;
}
